<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
  <% if (user) { %>
    <p>Logged in as <%= user.username %>#<%= user.discriminator %>.</p>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a type="button" href="/login">Login</a><br>
  <% } %>
  <%- title === "Dashboard" ? "" : "<hr>" %>