<%- include("partials/header", { bot, user, path, title: "Home" }) %>

<div class="container-sm center" style="margin-top: 25px;">
  <div class="d-grid gap-2 col-6 mx-auto">
    <h2>Welcome to Simple Discord.js Dashboard!</h2>
    <p>Thank you for downloading! Please consider staring it on GitHub, if you need any help, you can use the links below to see our GitHub page or join our support server.</p>
    <a class="btn btn-secondary text-white" href="/dashboard">Dashboard</a>
    <a class="btn btn-primary text-white" href="https://github.com/MrAugu/simple-discordjs-dashboard">GitHub</a>
    <a class="btn btn-warning" href=""">Discord Server</a>
  </div>
</div>

<%- include("partials/footer") %>